# Emacs backup files
*~
*#
.#*

# omit Go vendor directories
vendor/
.gradle
.idea

# installed platform-specific binaries
bin
/config
.project

# OS X
.DS_Store*
Icon?
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Linux
.directory
*~

# Vim file artifacts
.*.sw*

# Dependency directories
node_modules/

# Ignore Gradle build output directory
build
package-lock.json
external-chaincode/

# Eclipse
.classpath
.settings
